body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(26, 26, 26, 0.6);
  border-radius: 0.625rem;

  }

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}
.form{
  display: flex;
  flex-direction: column;
}
.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #0a8dc9;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1rem;
  margin-top: 1.25rem; 
  justify-self: center;
  align-self: center;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}


/* Background */
.bg-animation {
  -webkit-animation: bg-animation 25s ease-in-out infinite;
  animation: bg-animation 25s ease-in-out infinite;
  height: 100vh;

  background-image: url("https://3.bp.blogspot.com/-04vqcpHNiuo/W0x2THLFZXI/AAAAAAAAOl8/DUvOAykZU9Q0rVaRw4nFTWQM-d8__k-agCLcBGAs/s1600/dresscounter.jpg");
}

@-webkit-keyframes bg-animation {
  0% {
      background-position: top;
  }

  50% {
      background-position: bottom;
  }
  100% {
      background-position: top;
  }
}


